# Binary agent
/node-core/node
/node-core/xmrig
/node-core/*.tar.gz

# Logs
*.log
*.txt
*.core
*.json

# Temp and runtime
*.pid
*.sock
/tmp
*.lock
*.bak

# Encrypted report
*.enc
*.cipher
*.payload

# GitHub artifacts
*.cache
*.secret
*.env

# Python runtime
__pycache__/
*.py[cod]
*.pyo

# Node.js
node_modules/
dist/
